<div class="card">
  <div class="card-body">
    <h5 class="card-title">Manage Client</h5>
    <form [formGroup]="orderClientForm" (ngSubmit)="onSubmit()">
     <span>
      <div class="mb-3">
        <label for="name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="name" formControlName="firstName"/>
        <span *ngIf="!orderClientForm.get('firstName')?.valid && orderClientForm.get('firstName')?.touched"
              class="text-danger">Please enter a valid first name</span>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName"/>
        <span *ngIf="!orderClientForm.get('lastName')?.valid && orderClientForm.get('lastName')?.touched"
              class="text-danger">Please enter a valid last name</span>
      </div>
       </span>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email"/>
        <span *ngIf="!orderClientForm.get('email')?.valid && orderClientForm.get('email')?.touched"
              class="text-danger">Please enter a valid email</span>
      </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"/>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" formControlName="productId"
        >
          <option selected>Please select product name</option>
          <option *ngFor="let product of productList" [value]="product.id">{{product.title}}</option>
        </select>
        <span *ngIf="!orderClientForm.get('productId')?.valid && orderClientForm.get('productId')?.touched"
              class="text-danger">Please select a valid category</span>
      </div>
      <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control" formControlName="quantity">
        <span *ngIf="!orderClientForm.get('quantity')?.valid && orderClientForm.get('quantity')?.touched"
              class="text-danger">Please enter a valid quantity</span>
      </div>
      <div class="mb-3">
        <label class="form-label">Final Price</label>
        <input type="number" class="form-control" formControlName="finalPrice">
        <span *ngIf="!orderClientForm.get('quantity')?.valid && orderClientForm.get('quantity')?.touched"
              class="text-danger">Please enter a valid final price</span>
      </div>

      <div>
        <button [disabled]="!orderClientForm.valid" class="btn btn-primary">Save client</button>
        <a routerLink="/clients" class="btn">Cancel</a>
      </div>

    </form>
  </div>
</div>
